.lessonWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    grid-template-areas: "lessonList" "lesson";
}

.lessonsList {
    grid-area: lessonList;
    display: flex;

}

.notActive {
    margin-right: 10px;
    line-height: 30px;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.active {
    margin-right: 10px;
    line-height: 30px;
    background: aquamarine;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

