.video {

    display: grid;
    justify-content: center;
    grid-gap: 10px;
    height: 100%;
}

.videoTitle {
    text-align: center;
    align-self: flex-end;

}

.videoBox {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-self: flex-end;
}





