.courseList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;

}

.courseItem {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: aquamarine;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 20px;

}

.courseItem:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
