.App {
  display: flex;
  flex-direction: column;
}

.App header {
  color: white;
  display: flex;
  height: 60px;
  background: black;
}

.nav {
  width:60px;
}

.logo {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}