.app {
  position: absolute;
  left: 0;
  transition: 0.3s;
  display: grid;
  min-height: 100vh;
  min-width: 100%;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "content" "footer";
}

.header {
  grid-area: header;
  background: black;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  justify-items: center;
  align-items: center;
  grid-template-areas: "showAside title logout";
}

.showAside {
  grid-area: showAside;
}

.title {
  grid-area: title;
}

.navLinks {
  grid-area: navLinks;
  display: none;
}

.logout {
  grid-area: logout;
}

.main {
  grid-area: content;
  display: grid;
}

.footer {
  grid-area: footer;
  text-align: center;
  border-top: 1px solid gainsboro;
  padding: 20px;
}

.aside {
  position: fixed;
  left: -120px;
  width: 120px;
  height: 100%;
  display: grid;
  grid-template-rows: 60px auto;
  justify-items: center;
  align-items: center;
  align-content: flex-start;
  transition: 0.3s;
  color: white;
  background: black;
}

.aside a {
  width: 100%;
  height: 48px;
  text-align: center;
  line-height: 48px;
}

.asideShow {
  left: 0;
}

.appSlideOut {
  left: 120px;
}

.loginPopup{
  position: fixed;
  left:calc(100vw/2 - 105px);
  top:calc(100vh/2 - 211px);
  display: none;
  background: red;
  border-radius: 5px;
  z-index: 3;
}

.showLoginPopup{
  display: block;
}

@media only screen and (min-width: 600px) {
  .header {
    grid-template-columns: 1fr 50% 30% 60px;
    grid-template-areas: ".. title navLinks logout"
  }
  .title {
    justify-self: flex-start;
  }
  .main {
    grid-template-columns: 1fr 80% 60px;
    grid-template-rows: 18px 1fr 16px;
    grid-template-areas: ".. .. .." ".. content .. " ".. .. ..";
  }
  .content {
    grid-area: content;
  }
  .showAside {
    display: none;
  }
  .navLinks {
    justify-self: flex-end;
    align-self: stretch;
    display: grid;
    grid-gap: 8px;
    font-size: 18px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}